name: 'Create Release'

on:
  push:
    tags:
      - 'v*'

permissions:
  contents: write
  discussions: write

jobs:
  create_release:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 1
      - name: Get Tag
        if: startsWith(github.ref, 'refs/tags/v')
        uses: olegtarasov/get-tag@v2.1.4
        id: version_tag
        with:
          tagRegex: "v(.*)"
      - name: Upload Release Asset
        uses: softprops/action-gh-release@v2.5.0
        id: release
        with:
          name: "v${{ steps.version_tag.outputs.tag }}"
          tag_name: "v${{ steps.version_tag.outputs.tag }}"
          generate_release_notes: true
          append_body: true
          prerelease: false
          fail_on_unmatched_files: true
      - name: "Generate release changelog"
        uses: heinrichreimer/action-github-changelog-generator@v2.4
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          author: true
          releaseUrl: ${{ steps.release.outputs.url }}
          issues: false
          pullRequests: true
      - uses: stefanzweifel/git-auto-commit-action@v7
        with:
          commit_message: "Update CHANGELOG.md"
          branch: master
          commit_options: '--no-verify --signoff'
          file_pattern: CHANGELOG.md
